:root {
    --background-header: #fff;
    --background-body: #fff;
    --elements-color: #000000;
    --text-color: #000000;
    --button-color: #9333FF;
    --svg-color: #000000;
    --font-html: Garamond, serif;
    --font-titles: Helvetica , sans-serif;
}

html{
    font-family: var(--font-html);
    color: var(--text-color);
    background-color: var(--background-body);
    margin: 0;
    padding: 0;
    text-align: center;
   justify-content: center;
}

.header{
    margin: 2rem;
}

p {
    line-height: 2;
    font-size: 1.5rem;
}

a{
    text-decoration: none;
    color: var(--background-header);

}

.button{
  background-color: #0a1c0a; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}